<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iread.mapperExtend.ThemeArticleExtendMapper" >
<resultMap id="BaseResultMap" type="com.iread.pojo.ThemeArticle" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="look_num" property="lookNum" jdbcType="INTEGER" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="article_img" property="articleImg" jdbcType="VARCHAR" />
    <result column="theme_id" property="themeId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.iread.pojo.ThemeArticle" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
	
	<select id="selectByFkWithLimt" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
	SELECT id, title, content, create_time 
	FROM theme_article 
	WHERE theme_id = #{id} 
	ORDER BY create_time DESC LIMIT 4
	</select>
</mapper>