<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iread.mapperExtend.CommentExtendMapper">

	<resultMap id="BaseResultMap" type="com.iread.pojo.Comment">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="user_id" property="userId" jdbcType="CHAR" />
		<result column="subject_id" property="subjectId" jdbcType="CHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_visible" property="isVisible" jdbcType="BIT" />
		<result column="is_replay" property="isReplay" jdbcType="BIT" />
		<result column="like_num" property="likeNum" jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="com.iread.pojoExtend.CommentCustom" id="CommentCustomResultMap"
		extends="BaseResultMap">

		<!-- 映射评论者，一对一映射 -->
		<association property="user" javaType="com.iread.pojo.User">
			<id column="user_id" property="id" />
			<result column="icon" property="icon" />
			<result column="username" property="username" />
		</association>

		<!-- 映射父评论 -->
		<association property="pComment" javaType="com.iread.pojo.Comment">
			<id column="parent_id" property="id" />
			<result column="p_content" property="content" />
		</association>

		<!-- 映射父评论者 -->
		<association property="pUser" javaType="com.iread.pojo.User">
			<id column="p_userid" property="id" />
			<result column="p_usericon" property="icon" />
			<result column="p_username" property="username" />
		</association>
	</resultMap>
	
	<select id="findCommentsByFK" parameterType="String"
		resultMap="CommentCustomResultMap">
		SELECT c1.* , u1.username, u1.icon, c2.content AS p_content,
		c2.user_id AS p_userid, u2.username AS p_username, u2.icon AS
		p_usericon
		FROM `comment` AS c1 JOIN `user` AS u1 ON c1.user_id = u1.id
		LEFT JOIN `comment` AS c2 ON c1.parent_id = c2.id
		LEFT JOIN `user` as u2 ON c2.user_id = u2.id
		WHERE c1.subject_id = #{value}
		ORDER BY c1.create_time DESC
	</select>
</mapper>